.Home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sideBar {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-left: 1px solid rgb(31, 31, 31);
}

.search {
    display: flex;
    flex-direction: row;
}

#sideBar-search {
    font-size: 16px;
    border: 1px solid rgb(204, 204, 204);
    margin-left: 1px;
}

#sideBar-button {
    font-size: 16px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

    #sideBar-button:hover {
        transform: scale(0.99, 0.99);
        background-color: #d8d8d8;
    }

#sideBar-heading {
    color: #7f7f7f;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
    #sideBar-heading:hover {
        transition-duration: 0.1s;  
        color: rgb(115, 122, 224);
        transform: scale(0.99, 0.99);
    }


@media only screen and (max-width: 720px) {
    .Home{
        flex-direction: column-reverse;
    }

    .sideBar {
        display: flex;
        flex-direction: column;
        background: linear-gradient(360deg, rgb(63, 72, 204) 90%, rgb(30, 35, 101));
        align-items: center;
        max-width: 100vw;
    }

    .sideBar-heading {
        font-size: 12px;
        color: white;
        cursor: pointer;
        max-height: 15vh;
        max-width: 50vw;
    }

    .search {
        display: flex;
        flex-direction: column;
        max-width: 100vw;
    }
    #sideBar-search {
        font-size: 18px;
        border: none;
        max-width: 100vw;
        min-width: 20vw;
    }
}