.books {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 5vw;
    grid-row-gap: 1vh;
    margin: 5vh 0vw 0vh 8vw;
}

.book-list-container {
    width: 70vw;  
}

.books-individual {
    display: flex;
    flex-direction: column;
    max-width: 12vw;
}

#book-list-heading {
    color: #4a4a4a;
    font-size: 20px;
    text-align: center;
    margin-left: 5vw;
}

.images {
    height: 25vh;
    width: 8vw;
    cursor: pointer;
}
    .images:hover {
        transition-duration: 0.05s;
        transform: scale(0.96, 0.96);
    }

.bookName {
    color: rgb(30, 36, 51);
    font-size: 20px;
    cursor: pointer;
    max-width: 10vw;
}
    .bookName:hover {
        transition-duration: 0.1s;
        color: #8090a4;
    }


@media only screen and (max-width: 720px) {

    .top-book-container {
        width: 100vw;  
}
    .books {
        grid-template-columns: repeat(3, auto);
        grid-column-gap: 10vw;
        justify-content: center;
        margin-right: 10vw;
    }

    #book-heading{
        font-size: 16px;
        margin-right: 10vw;
    }

    .images {
        height: 20vh;
        width: 20vw;
    }

    .bookName {
        color: rgb(30, 36, 51);
        font-size: 15px;
        width: 25vw;
        word-wrap:break-word;
    }
}