.App-body {
    display: flex;
    flex-direction: column;
}

#app-heading {
    color: rgb(30, 30, 30);
    margin-left: 2vw;
}

.App-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px rgb(230, 230, 230);
}


@media only screen and (max-width: 720px) {
    #app-heading {  
        margin-left: 5vw;
        font-size: 20px;
    }
}
