.pageButtons-div{
    display: flex;
    flex-direction: row;
    margin-top: 3vw;
    margin-left: 5vw;
    justify-content: space-between;
}

.pageButtons {
    border: none;
    background-color: rgb(80, 80, 80);
    font-size: 15px;
    color: white;
    cursor: pointer;
}

    .pageButtons:hover {
    background-color: rgb(60, 60, 60);
    }

@media only screen and (max-width: 720px) {
    .pageButtons-div{
        margin-right: 3vw;
        margin-left: 2vw;
    }
}